<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <ejb-local-ref>
        <ejb-ref-name>ejb/StudentHome</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.sample.student.StudentHome</local-home>
        <ejb-link>StudentBean</ejb-link>
    </ejb-local-ref>

    <ejb-local-ref>
        <ejb-ref-name>ejb/CourseHome</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.sample.course.CourseHome</local-home>
        <ejb-link>CourseBean</ejb-link>
    </ejb-local-ref>

    <servlet>
        <servlet-name>StudentManagerServlet</servlet-name>
        <servlet-class>org.sample.StudentManagerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentManagerServlet</servlet-name>
        <url-pattern>/student-manager</url-pattern>
    </servlet-mapping>
</web-app>